<div style="margin: 20px;">
  <h1>LISTA DE TAREAS (EJEMPLO DE FORMULARIOS REACTIVOS)</h1>
  <p>
    Tarea: <input type="text" [formControl]="tarea" />
  </p>
  <p>
    <button type="button" class="btn btn-primary" (click)="agregarTarea()">Agregar</button>
  </p>
  <ol>
    @for (tar of listatareas; track $index) {
      <li>
        {{ tar }} <a (click)="borrarTarea($index)" href="#">borrar</a>
      </li>
    }
  </ol>
  <p>
    <button type="button" class="btn btn-primary" (click)="borrarTareas()">
      Borrar todas las tareas
    </button>
  </p>
</div>
<router-outlet></router-outlet>